@import url('https://fonts.googleapis.com/css?family=Alef');

* {
    margin: 0;
    padding: 0;
}
header, nav, main, section, article, footer, aside {
    display: block;
}

body {
    background: url('../images/backgrounds/mobileBG.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    direction: rtl;
    font-family: 'Alef', sans-serif;
}

#pageLogin header #logo {
    display: block;    
    margin:0 auto;
    width: 240px;
    height: 130px;
    background: url('../images/logo/barcodeLogo2.png');
    margin-top: 20%;
}
#pageLogin main{
    margin-top:30%;
    margin-right: 15%;
}
#pageLogin main section{
    margin-bottom: 15%;    
    font-size:30px;    
    padding-right:20%;    
    background-position: right;    
    background-repeat: no-repeat;    
    text-shadow:1px 1px 6px white;
}
#pageLogin main section:nth-child(1){background-image: url('../images/icons/login/facebook.png');}
#pageLogin main section:nth-child(2){background-image: url('../images/icons/login/google.png');}
#pageLogin main section:nth-child(3){background-image: url('../images/icons/login/mail.png');}
