* {
    margin: 0;
    padding: 0;
}
header, nav, main, section, article, footer, aside {
    display: block;
}

body {
    background: url('../images/backgrounds/mobileBG.jpg') no-repeat center center fixed;
    background-size: cover;
}
