@import url('https://fonts.googleapis.com/css?family=Alef');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, nav, main, section, article, footer, aside {
    display: block;    
}
a{text-decoration:none;}
a:active{text-decoration:none;}

.page{display:none;}

body {
    direction: rtl;
    font-family: 'Alef', sans-serif;    
    font-size:1.6em;
}
footer.main {
    background: #e6e1e1;
    direction:ltr;
}
footer.main .content div:last-child svg{
    color:#81e021;    
}
button {    
    background: #e6e1e1; 
}
svg.fa-plus-circle { 
    color: #599e39;
}
.alert{
    font-size:0.6em;
    display:none;
}
.page > header {
    background: #e6e1e1;
    margin-bottom: 2vh;
}

.toggleMenu{
    padding-top:20px;
    position:relative;
}
.toggleMenu .badge{
    display:none;
    position:absolute;
    right: -10px;
    top: 20px;
    background:red;
    color:white;
    font-size:0.5em;
}

#logoRow{display:none;}
#logoMenu {    
    display: block;
    margin: 0 auto;
    margin-bottom:10px;
    margin-top:10px;
    width: 80px;
    height: 44px;
    background: url('../images/logo/smallLogo.png');
}
.highlightBorder{
    border:2px dashed red;
}
.gulo {
    font-size: 3.5em;
    font-weight: bolder;
    color: #96c9ed;
    text-shadow: -2px -1px 5px #000, 1px -1px 2px #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.thinkSmarter {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    text-shadow: 2px -1px silver;
}

/*loginPage*/
    .page[data-page=login]{
        display:block;
        direction:ltr;        
    }
    .page[data-page=login] header {
        text-align: center;
        background: none;
        margin-top: 6vh;
    }    
    .page[data-page=login] main {
        margin: 0 auto;
    }   
    .page[data-page=login] main .row{
        margin-top:8vh;
        font-size:1.5em;        
    }
    .page[data-page=login] main .row a{
        color: #7bbbe8;
        text-decoration:none;
    }
    .page[data-page=login] .fa-facebook{
        color:#4267b2;
    }
    .page[data-page=login] .fa-google{
        /*margin-left:-20px;*/
        color: #f53e28;
    }
    .page[data-page=login] .fa-envelope{        
        margin-left:-10px;
        color:#fbbd2f;
    }
    
/*landPage*/
    .page[data-page=land] {    
        position:fixed;        
        width:100vw;
        height:100vh;
        z-index:2000;                
        background:#fff;        
        direction:ltr;
    }
    .page[data-page=land] header{
        text-align:center;
        background:none;
        margin-top:6vh;
    }    
    .page[data-page=land] main {
        margin: 0 auto;
        width: 372px;
        height: 553px;
        background: url(../images/misc/garbage.png) no-repeat center center;    
    }

/*mainLists*/    
    .page[data-page=mainLists] #mainLists {    
        margin-top: 3vh;        
        cursor: pointer;    
    }
    .page[data-page=mainLists] .main-list {
        margin-bottom: 4vh;
        height: 5vh;
        line-height: 5vh;
        background: #f6f4f6;
        border-radius:5px;
        font-size:0.8em;
    }
    .page[data-page=mainLists] .main-list div:nth-child(2) {
        font-size: 70%;
    }

/*addMainList page*/
    .page[data-page=addMainList] main {
        margin-top: 7vh;
    }
    .page[data-page=addMainList] button[type='submit'] {
        font-size: 70%;
        margin-top:7vh;    
    }
/*mainListItems*/
    .page[data-page='mainListItems'] .ul-main-list {
        margin-top: 3vh;
        list-style: none;        
        text-align: right;
        margin-bottom:3vh;
    }
    .page[data-page='mainListItems'] .ul-main-list > li {
        font-size:0.7em;
        font-weight:bold;        
    }
    .page[data-page='mainListItems'] .ul-main-list li .fa-plus {
        cursor: pointer;
        font-size: 70%;
        margin-left: 1%;
    }
    .page[data-page='mainListItems'] .ul-main-list > li > ul {        
        list-style: none;
        font-size: 0.9em;
        font-weight: normal;        
    }
    .page[data-page='mainListItems'] .ul-main-list > li > ul > li {
        border-bottom:1px solid silver;
    }
    .item-checked {
        text-decoration: line-through;
    }
    .item-waiting{
        color:silver;
    }

/*addManualItem page*/
.page[data-page='addManualItem'] main {
    margin-top: 7vh;
}

.page[data-page='addManualItem'] button[type='submit'] {
    font-size: 70%;
    margin-top: 7vh;
}


/*profile*/
    .page[data-page='profile'] .imgProfile {
        font-size:0.6em;
        font-weight:bold;
    }
    .page[data-page='profile'] .imgProfile img {
        width:80px;
        height:80px;        
    }

    .page[data-page='profile'] main .container-fluid{
        text-align:center;                        
    }
    .page[data-page='profile'] main .profileRow:nth-child(2){
        margin-top:3vh;
    }
    .page[data-page='profile'] main .profileRow{
        font-size:1em;
        background: #f6f4f6;
        margin-bottom:30px;
        
        position:relative;
    }
    .page[data-page='profile'] a {
        color:black;        
    }
    .profileRow svg{
        position:absolute;
        right:30px;
        top:9px;
    }


/*notificationsList*/    
    .page[data-page='notificationsList'] .notificationRow{        
        border-bottom:1px solid silver;        
        height:60px;                
    }
    .page[data-page='notificationsList'] .notificationRow:first-child{        
        margin-top:-11px;
        border-top:1px solid silver;
    }
    .page[data-page='notificationsList'] .notificationRow div:first-child{
        font-size:0.45em;
        line-height:30px;
    }
    .page[data-page='notificationsList'] .notificationRow div:last-child{
        font-size:0.8em;
        line-height:50px;
    }
    .page[data-page='notificationsList'] .notificationRow.isNew{
        font-weight:bold;
        background: #f6f4f6
    }

/*specificNotification*/
    .page[data-page='specificNotification'] header:nth-child(2){
        text-align:center;
        margin-top:5vh;
        height:50px;
        line-height:50px;
        font-weight:bold;
    }
    .page[data-page='specificNotification'] main{
        margin-top:5vh;
        font-size:0.7em;
        text-align:center;
    }
    .page[data-page='specificNotification'] main button.addProductToInventory{
        width:150px;
        border-radius:10px;
        outline:none;
        box-shadow:1px 1px silver;
    }
/*addToInventory*/
    #formAddToInventory {
        font-size: 0.7em;
    }

/*scanDemo*/
    #scanDemo main{
        margin:50px auto;
        width:300px; 
        text-align:center;        
    }
    #scanDemo .alert{
        display:block;
        visibility:hidden;
    }